# TODO provide instructions

rules:
  "/health":
    GET:
      level: "ignore" 
      headers:
        "X-Requested-By":
          required: true
          type: "string"
        "User-Agent":
          type: "string"
        "Referer":
          type: "string"
  "/auth/login":
    POST:
      level: "lenient"
      headers:
        "Content-Type":
          required: true
          type: "string"
          value: "application/json"
        "X-Requested-By":
          required: true
          type: "string"
        "User-Agent":
          type: "string"
        "Referer":
          type: "string"
      requiredVersion: 1
  "/auth/logout":
    POST:
      level: "lenient"
      headers:
        "Content-Type":
          required: true
          type: "string"
          value: "application/json"
        "X-Requested-By":
          required: true
          type: "string"
        "User-Agent":
          type: "string"
        "Referer":
          type: "string"
      requiredVersion: 1
  "/auth/token":
    POST:
      level: "strict"
      headers:
        "Content-Type":
          required: true
          type: "string"
          value: "application/json"
        "X-Requested-By":
          required: true
          type: "string"
        "User-Agent":
          type: "string"
        "Referer":
          type: "string"
      body:
        "client_id":
          required: true
          type: "string"
        "client_secret":
          required: true
          type: "string"
        "grant_type":
          required: true
          type: "string"
      requiredVersion: 1
    DELETE:
      level: "strict"
      headers:
        "Authorization":
          required: true
          type: "string"
          value: "Bearer *"
        "X-Requested-By":
          required: true
          type: "string"
        "User-Agent":
          type: "string"
        "Referer":
          type: "string"
      requiredVersion: 1
  "/auth/token/refresh":
    POST:
      level: "strict"
      headers:
        "Content-Type":
          required: true
          type: "string"
          value: "application/json"
        "X-Requested-By":
          required: true
          type: "string"
        "User-Agent":
          type: "string"
        "Referer":
          type: "string"
      body:
        "refresh_token":
          required: true
          type: "string"
        "grant_type":
          required: true
          type: "string"
          value: "refresh_token"
      requiredVersion: 1